@charset "utf-8";

/*------------------------------Headline*/
.reveal h1 {
	text-align: left;
	font-size: 1.2em !important;
	border-bottom: 1px solid #16a085;
	color: #1abc9c;
}
.reveal h2 {
    font-size: 1em;
	text-align: left;
	border-bottom: 1px solid #16a085;
	border-left: 10px solid #16a085;
	padding-left: 10px;
	color: #1abc9c;
}
.reveal h3 {
	color: #1abc9c;
    font-size: 0.9em;
	text-align: left !important;
	border-left: 10px solid #16a085 !important;
	padding-left: 10px !important;
}
/*------------------------------list Style*/
.reveal ul {
	display: block;
}
.reveal ul > li {
	font-size: 0.8em !important;
}
.reveal ul > li + li {
	margin-top: 10px;
}
/*------------------------------Code Style*/
.reveal pre code {
    padding: 20px 10px;
}
/*------------------------------Text Style*/
.reveal p {
	text-align: left;
	font-size: 0.8em !important;
	line-height: 1.4;
}
.reveal pre {
	width: 100% !important;
}

.reveal .controls .navigate-right, .reveal .controls .navigate-right.enabled {
    border-left-color: #16a085;
}
.reveal .controls .navigate-left, .reveal .controls .navigate-left.enabled {
    border-right-color: #16a085;
}
.reveal .controls .navigate-up, .reveal .controls .navigate-up.enabled {
    border-bottom-color: #1abc9c;
}
.reveal .controls .navigate-down, .reveal .controls .navigate-down.enabled {
    border-top-color: #1abc9c;
}