@charset "utf-8";

.reveal h2 {
    font-size: 1em;
}
.reveal h3 {
    font-size: 0.9em;
}
.reveal ul {
	display: block;
}
li {
	font-size: 0.8em !important;
}
.reveal pre code {
    padding: 20px 10px;
}