@charset "utf-8";

/*------------------------------Headline*/
.reveal h1 {
	text-align: left;
	font-size: 1.2em !important;
}
.reveal h2 {
    font-size: 1em;
	text-align: left;
	border-bottom: 1px solid #333333;
	border-left: 10px solid #333333;
	padding-left: 10px;
}
.reveal h3 {
    font-size: 0.9em;
	text-align: left !important;
	border-left: 10px solid #333333 !important;
	padding-left: 10px !important;
}
/*------------------------------list Style*/
.reveal ul {
	display: block;
}
li {
	font-size: 0.8em !important;
}
/*------------------------------Code Style*/
.reveal pre code {
    padding: 20px 10px;
}
/*------------------------------Text Style*/
.reveal p {
	font-size: 0.8em !important;
}
.reveal pre {
	width: 100% !important;
}